.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr 20%;
    grid-template-areas: "Menu Menu" "item1 item2" "item3 item4" "item5 item6" "item7 item8" "Footer Footer";
    padding: 10px;
}
  
  .Menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 80%;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . .";
    grid-area: Menu;
    background: lightblue;
    padding: 10px;
  }
  
  .item1 { grid-area: item1;
    padding: 10px; }
  
  .item2 { grid-area: item2;
    padding: 10px; }
  
  .item3 { grid-area: item3;
    padding: 10px; }
  
  .item4 { grid-area: item4;
    padding: 10px; }
  
  .item5 { grid-area: item5;
    padding: 10px; }
  
  .item6 { grid-area: item6;
    padding: 10px; }
  
  .item7 { grid-area: item7;
    padding: 10px; }
  
  .item8 { grid-area: item8;
    padding: 10px; }
    
  .Footer { 
      grid-area: Footer;
      background: lightblue; 

  }