:root {
    --color-primary: #29a8ab;
    --color-secondary: #cc9360;
}

@media only screen and (min-width: 840px) {
    /* For desktop: */
.grid-container {
    display: grid;
    border: 1px black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr 1fr 20%;
    grid-template-areas: "Menu Menu" "item1 item2" "item3 item4" "item5 item6" "item7 item8" "Footer Footer";
    padding: 5px;
    font-size: 1em;
}
}

@media only screen and (max-width: 840px) {
    /* For tablets: */
    .grid-container {
        display: grid;
        border: 1px black;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 20%;
        grid-template-areas: "Menu" "item1" "item2" "item3" "item4" "item5" "item6" "item7" "item8" "Footer";
        padding: 5px;
        font-size: 1em;
    }
    img {
      max-width: 80%;
      max-height: auto;
      min-width: 240px;
      min-height: auto;
    }
}
  
  .Menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 80%;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . .";
    grid-area: Menu;
    background: var(--color-primary);
    padding: 10px;
  }
  
  .item1 { grid-area: item1;
    padding: 10px; }
  
  .item2 { grid-area: item2;
    padding: 10px; }
  
  .item3 { grid-area: item3;
    padding: 10px; }
  
  .item4 { grid-area: item4;
    padding: 10px; }
  
  .item5 { grid-area: item5;
    padding: 10px; }
  
  .item6 { grid-area: item6;
    padding: 10px; }
  
  .item7 { grid-area: item7;
    padding: 10px; }
  
  .item8 { grid-area: item8;
    padding: 10px; }
    
  .Footer { 
      grid-area: Footer;
      background: var(--color-primary); 

  }

  body {
      background: var(--color-secondary);
      margin: 10px;
  }

button {
    background: var(--color-primary);
}